{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}

<div class="row">
<div class="col-md-12">
    <h2>Checkout Details</h2>
</div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
      <h2>Total Price: {{ order.get_final_amount }}</h2>
      <hr>
        <form action="" method="POST" id="payment-form">{% csrf_token %}
            {% if current_address %}
                <div class="col-md-12">
                    <h3>Shipping Address</h3>
                        {% for address in current_address %}
                        {% if request.user.userdefaultaddress.shipping.id == address.id %} <input type="radio" name="shipping_address" id="{{address.id}}" checked='checked'> {{ address.get_address }} <br>
                        {% else %}
                        <input type="radio" name="shipping_address" id="{{address.id}}"> {{ address.get_address }}<br>
                        {% endif %}
                        {% endfor %}
                </div>
            {% endif %}
<hr>
            {% if billing_address %}
                <div class="col-md-12">
                    <h3>Billing Address</h3>

                   
                        {% for address in billing_address %}

                        {% if request.user.userdefaultaddress.billing.id == address.id %} <input type="radio" name="billing_address" id="{{address.id}}" checked='checked'> {{ address.get_address }} <br>
                        {% else %}
                        <input type="radio" name="billing_address" id="{{address.id}}"> {{ address.get_address }}<br>
                        {% endif %}

                        {% endfor %}
                    
                </div>
            {% endif %}
        
<hr>
<div class="col-md-12">
<h3>Credit Info</h3>


<div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button>Submit Payment</button>

</div>
</form>   

    </div>





<div class="col-md-6">
    {% if address_form %}
    <div class="col-md-12">
        <h3>Add New Shipping Address</h3>
        <form action="{% url 'ajax_add_user_address' %}?next=checkout" method="POST"> {% csrf_token %}
            {{ address_form|crispy }}
            <input type="submit" value="Add Shipping Address" class="btn btn-primary">
        </form>
    </div>
    {% endif %}
</div>

    

</div>
{% endblock %}


{% block jquery %}
<script>
// Create a Stripe client.
var stripe = Stripe('{{ stripe_pub }}');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.on('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
 </script>
{% endblock %}